﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<body>

    <main id="main">
       
        <section class="mb-section">
            @if(Model.HasValue("video"))
            {
                <div>
                    <iframe src="https://player.vimeo.com/video/314296987?background=1&amp;autoplay=1&amp;loop=1" frameborder="0" width="100%" height="100%"></iframe>
                </div>
            }
        </section>
    </main>

</body>

</html>